[submodule "modules/tor"]
	path = modules/tor
	url = https://github.com/duritong/puppet-tor.git
[submodule "modules/vlc"]
	path = modules/vlc
	url = https://github.com/boxen/puppet-vlc.git
[submodule "modules/spotify"]
	path = modules/spotify
	url = https://github.com/garethr/garethr-spotify.git
