[submodule "modules/tor"]
	path = modules/tor
	url = https://github.com/duritong/puppet-tor.git
[submodule "modules/vlc"]
	path = modules/vlc
	url = https://github.com/boxen/puppet-vlc.git
[submodule "modules/spotify"]
	path = modules/spotify
	url = https://github.com/garethr/garethr-spotify.git
[submodule "modules/vagrant"]
	path = modules/vagrant
	url = https://github.com/example42/puppet-vagrant.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppetlabs-stdlib"]
	path = puppetlabs-stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/puppetlabs-stdlib"]
	path = modules/puppetlabs-stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/tmux"]
	path = modules/tmux
	url = https://github.com/duritong/puppet-tmux.git
[submodule "modules/puppi"]
	path = modules/puppi
	url = https://github.com/example42/puppi.git
